
mixin modal() 
 
	//- #modal-win.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-win', aria-hidden='true')
		
	//- 	div( class="   modal-dialog  modal-dialog-centered  " role='document') 
	//- 		+form-wrap()(class=" modal-content modal-win ")
	//- 			button.close.mfp-close(type='button', data-dismiss='modal', aria-label='Close')  ×
	//- 			+input("tel","Введите ваш телефон")(name="tel" required) 
				
	//- 			+e.BUTTON.btn.btn.btn-accent.btn-block Отправить
	//- 			+b.wrap-polite
	//- 				+b.custom-input.polite
	//- 					+b.LABEL.custom-input.polite
	//- 						+e.INPUT.input.__input-radio(type="checkbox" checked name="polite" required value="")
	//- 						+e.SPAN.lab
	//- 						| Даю 
	//- 						| 
	//- 						span.link( data-toggle='modal', data-target='#exampleModal2') согласие 

	//- 						| на хранение и обработку   персональных данных
	
 

	//- #thanks.modal.fade(tabindex='-1', role='dialog', aria-labelledby='thanks', aria-hidden='true')
	//- 	div( class=" ttext-center  modal-dialog  modal-dialog-centered  " role='document') 
	//- 		+form-wrap()(class=" modal-content modal-win ")
	//- 			button.close.mfp-close(type='button', data-dismiss='modal', aria-label='Close')  ×
	//- 			br
	//- 			.h2 Заявка принята
	//- 			br
	//- 			.h3 Скоро с Вами свяжутся
	//- 			br 

	+b.modal-win(id="modal-text" class="zoom-anim-dialog mfp-hide" )
		h3 Условие использования сайта
		p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis pariatur, tempore harum adipisci commodi itaque voluptatibus? Incidunt nobis a dolor, sequi architecto harum qui quis sed magnam? Earum, debitis. Quos.
		p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, sit. Magni at quibusdam architecto rem libero quo distinctio officia necessitatibus.
		p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
		blockquote Далеко-далеко за словесными горами в стране гласных и согласных живут, рыбные тексты. Буквенных скатился злых до путь, необходимыми взгляд назад снова пустился!
			| 
			a(href="#") ссылка подчеркнутая

		p Офис компании
		+e.foot
			.row
				.col-auto
					img(src="img/logo2.png", alt="")
				.col 127051, г. Москва,л. Садовая-Самотечная, 24/27, БЦ&nbsp;&laquo;Mosenka Plaza&raquo; 
					br
					| Телефон: +7(495)664-83-03, email: vopros@mayoly.ru


	// #modal-text

	// modal