mixin s-approaches()
	// start s-approaches
	+b.SECTION.s-approaches.section#s-approaches&attributes(attributes)
		.section-block.text-center
			.slider.slider--js
				.slide
					h2 Синдром раздраженного кишечника
					img(src="img/s-approaches-1.jpg", alt="")
				
				.slide
					//- h2 Синдром раздраженного кишечника
					img(src="img/s-approaches-2.jpg", alt="")
				
	// end s-approaches