mixin s-advantages()
	
	// start s-advantages
	+b.SECTION.s-advantages.section#s-advantages&attributes(attributes)
		.section-block
			.slider.slider--js
				+e.slide
					img(src="img/s-advantages-img.jpg", alt="")
					.smallest * FDA&nbsp;&mdash; Комиссия по&nbsp;контролю за&nbsp;лекарствами и&nbsp;питательными веществами. ** Chr.Hansen. Polysaccharide matrix documentation.doc/Sep 2005/ 1:1 Probio-Tec AB-cap-1 (615705)

				+e.slide
					.row
						.col-md-4
							img.res-i(src="img/zoom-green.jpg", alt="")
							.smallest *Chr.Hansen. Polysaccharide matrix documentation.doc/Sep 2005/ 1:1
								br
								| ** Инструкция по применению Пробиолога
						.col
							h2 Бактерии в&nbsp;составе линии Пробиолог  защищены запатентованной  полисахаридной кислотоустойчивой матрицей
							h3 Запатентованная полисахаридная матрица* обеспечивает доставку бактерий в кишечник 
								
							h4 
								.mb-0.strong.h3 73%
								
								| Выживаемость бактерий после 1 часа при pH=1,71**

				+e.slide
					.p-3
						img(src="img/s-advantages-img-2.jpg", alt="")
						.smallest * Chr.Hansen. Polysaccharide matrix documentation.doc/Sep 2005/ 1:1 Probio-Tec AB-cap-1 (615705)
							br
							| ** Капсула имеет растительное происхождение
				+e.slide--last
					.row
						.col-md-5
							img.res-i(src="img/good.jpg", alt="")
							.smallest * FDA&nbsp;&mdash; Комиссия по&nbsp;контролю за&nbsp;лекарствами и&nbsp;питательными веществами.
						.col 
							h3 Штаммы бактерий в&nbsp;составе Пробиолога признаны безопасными FDA*:
							
							img.res-i(src="img/s-advantages-img-3.jpg", alt="")  
				+e.slide--last
					.section-title.text-center
						h2 Когда кишечник занемог, скорей прими Пробиолог!


					.row
						.col-md-5.col-xl-4
							+e.img-wrap
								img.res-i(src="img/s-advantages-img-4.jpg", alt="")   
						.col 
							h5
								strong  
									span.text-success ПРОБИОЛОГ 
									| и&nbsp;
									span.text-danger ПРОБИОЛОГ ФОРТЕ  
									| 
									| содержат резидентные анаэробные штаммы бактерий, живущих в&nbsp;толстом кишечнике
							
							img.res-i(src="img/s-advantages-img-4-2.jpg", alt="")  
					.smallest.m-0 TeemuJ.Taipale &amp;&nbsp;Jorma T.Jokela Bifidumbacterium animalis subsp.lactis ВВ-12 in&nbsp;reducing the risk of&nbsp;infections in&nbsp;early childhood Pediatric Research (2016)79, 65-69. Jungersen M. Wind A. The Science behind the probiotic strain Bifidumbacterium animalis subsp.lactis BB-12. Microorganisms.&nbsp;2014 Mar&nbsp;28; 2 (2)&rsquo; 92-110. Doi; 10.3390/microorganisms 2020092
						| 
						| Chouraqui JR&nbsp;et&nbsp;al. Acidifi ed&nbsp;milk formula supplemented with Bifidobacterium lactis: impact on&nbsp;infant diarrhea in&nbsp;residential care settings. J.&nbsp;PediatrBastnoenterol Nutг 2004; 38&prime; 288-92
						| 
						| Tabasco. Raquel &amp;&nbsp;Garcia-Cayuela. Tcmas &amp;&nbsp;Pelaez, Carmen &amp;&nbsp;Requena. Teresa (2009). Lactobacillus acidophilus La-5 increases lactacin&nbsp;B production when it&nbsp;senses live target bacteria. International journal of&nbsp;food microbiology.&nbsp;132.109-16. 10,2016/j.ijloodmicro.2009.4,004

	// end s-advantages

mixin s-advantages-red()
	// start s-advantages
	+b.SECTION.s-advantages.section#s-advantages&attributes(attributes)
		.section-block
			.slider.slider--js
				+e.slide
					img(src="img/s-advantages-img-red.jpg", alt="")
					.smallest * FDA&nbsp;&mdash; Комиссия по&nbsp;контролю за&nbsp;лекарствами и&nbsp;питательными веществами. ** Chr.Hansen. Polysaccharide matrix documentation.doc/Sep 2005/ 1:1 Probio-Tec AB-cap-1 (615705)

				+e.slide
					.row
						.col-md-4
							img.res-i(src="img/zoom-red.jpg", alt="")
							.smallest *Chr.Hansen. Polysaccharide matrix documentation.doc/Sep 2005/ 1:1
								br
								| ** Инструкция по применению Пробиолога
						.col
							h2 Бактерии в&nbsp;составе линии Пробиолог  защищены запатентованной  полисахаридной кислотоустойчивой матрицей
							h3 Запатентованная полисахаридная матрица* обеспечивает доставку бактерий в кишечник 
								
							h4 
								.mb-0.strong.h3 73%
								
								| Выживаемость бактерий после 1 часа при pH=1,71**

				+e.slide
					.p-3
						img(src="img/s-advantages-img-2.jpg", alt="")
						.smallest * Chr.Hansen. Polysaccharide matrix documentation.doc/Sep 2005/ 1:1 Probio-Tec AB-cap-1 (615705)
							br
							| ** Капсула имеет растительное происхождение
				//- +e.slide--last
				//- 	.row
				//- 		.col-md-5
				//- 			img.res-i(src="img/good.jpg", alt="")
				//- 			.smallest * FDA&nbsp;&mdash; Комиссия по&nbsp;контролю за&nbsp;лекарствами и&nbsp;питательными веществами.
				//- 		.col 
				//- 			h3 Штаммы бактерий в&nbsp;составе Пробиолога признаны безопасными FDA*:
							
				//- 			img.res-i(src="img/s-advantages-img-3.jpg", alt="")  
				+e.slide--last
					.section-title.text-center
						h2 Когда кишечник занемог, скорей прими Пробиолог!


					.row
						.col-md-5.col-xl-4
							+e.img-wrap
								img.res-i(src="img/s-advantages-img-4.jpg", alt="")   
						.col 
							h5
								strong  
									span.text-success ПРОБИОЛОГ 
									| и&nbsp;
									span.text-danger ПРОБИОЛОГ ФОРТЕ  
									| 
									| содержат резидентные анаэробные штаммы бактерий, живущих в&nbsp;толстом кишечнике
							
							img.res-i(src="img/s-advantages-img-4-2.jpg", alt="")  
					.smallest.m-0 TeemuJ.Taipale &amp;&nbsp;Jorma T.Jokela Bifidumbacterium animalis subsp.lactis ВВ-12 in&nbsp;reducing the risk of&nbsp;infections in&nbsp;early childhood Pediatric Research (2016)79, 65-69. Jungersen M. Wind A. The Science behind the probiotic strain Bifidumbacterium animalis subsp.lactis BB-12. Microorganisms.&nbsp;2014 Mar&nbsp;28; 2 (2)&rsquo; 92-110. Doi; 10.3390/microorganisms 2020092
						| 
						| Chouraqui JR&nbsp;et&nbsp;al. Acidifi ed&nbsp;milk formula supplemented with Bifidobacterium lactis: impact on&nbsp;infant diarrhea in&nbsp;residential care settings. J.&nbsp;PediatrBastnoenterol Nutг 2004; 38&prime; 288-92
						| 
						| Tabasco. Raquel &amp;&nbsp;Garcia-Cayuela. Tcmas &amp;&nbsp;Pelaez, Carmen &amp;&nbsp;Requena. Teresa (2009). Lactobacillus acidophilus La-5 increases lactacin&nbsp;B production when it&nbsp;senses live target bacteria. International journal of&nbsp;food microbiology.&nbsp;132.109-16. 10,2016/j.ijloodmicro.2009.4,004

	// end s-advantages

mixin s-advantages-orange()
	// start s-advantages
	+b.SECTION.s-advantages.section#s-advantages&attributes(attributes)
		.section-block
			.slider.slider--js
				+e.slide
					img(src="img/s-advantages-img-orange.jpg", alt="")
					.smallest.ml-2.mt-0 *Синдром раздраженного кишечника  **Одобрено Всемирной Гастроэнтерологической Организацией. 
						br
						| 1. По данным DSM Февраль 2019



				+e.slide--last
					.section-title.text-center
						h2 Пробиотик для чувствительных натур
						img.res-i(src="img/s-advantages-img-orange-2.jpg", alt="") 
				
				+e.slide--last
					.video-wrap
						+video
	// end s-advantages

