mixin s-types2()
	// start s-types2
	+b.SECTION.s-types2.section#s-types2&attributes(attributes)
		.section-block
			h2 Типы СРК согласно IV Римским критериям 
			.row
				+e.title.col-lg-5 СРК с&nbsp;преобладанием запоров
				.col
					p Более четверти (25%) испражнений с&nbsp;типами стула 1&nbsp;и&nbsp;2&nbsp;по&nbsp;Бристольской шкале формы кала (БШФК) и&nbsp;менее одной четверти (25%) испражнений с&nbsp;типами стула 6&nbsp;и&nbsp;7&nbsp;по&nbsp;БШФК
					p Альтернатива для эпидемиологии или клинической практики: пациент отмечает, что нарушения стула обычно проявляются запорами  (тип стула 1&nbsp;или 2&nbsp;по&nbsp;БШФК)
			.row
				+e.title.col-lg-5 СРК с&nbsp;преобладанием диареи
				.col
					p Более четверти (25%) испражнений с&nbsp;типами стула 6&nbsp;и&nbsp;7&nbsp;по&nbsp;БШФК  и&nbsp;менее одной четверти (25%) испражнений с&nbsp;типами стула 1&nbsp;и&nbsp;2  по&nbsp;БШФК
					p Альтернатива для эпидемиологии или клинической практики:  пациент отмечает, что нарушения стула обычно проявляются  диареей (тип стула 6&nbsp;или 7&nbsp;по&nbsp;БШФК)
			.smallest Lacy BE et al. Bowel disorders. Gastroenterology 2016;150:1393-1407. Rome IV FH June 2016

	// end s-types2