mixin s-result()
	// start s-result
	+b.SECTION.s-result.section#s-result&attributes(attributes)
		.section-block
			h2 Клиническое исследование Лоренцо
			.slider.slider--js
				.slide
					h3 Дизайн & Критерии включения
					.row
						+e.col-6.col-md-6
							ul
								li Рандомизированное, двойное слепое плацебо-контролируемое исследование 
								li 6&nbsp;недель наблюдения
								li 1&nbsp;доза пробиотика в&nbsp;день (высокая или низкая доза) или плацебо
								li СРК с&nbsp;диареей как определено в&nbsp;Римских критериях&nbsp;IV (СРК с&nbsp;диареей и&nbsp;смешанные типы)
								li Взрослые мужчины и&nbsp;женщины
						.col
							ul
								li Воспалительные заболевания кишечника были исключены
								li Отсутствие приема антибиотиков  и&nbsp;пробиотиков за&nbsp;4&nbsp;недели до&nbsp;начала исследования 
								li Отсутствие приема других препаратов  в&nbsp;период исследования
					.smallest 1) Lorenzo-Zuñiga et al. World J Gastroenterol 2014
				.slide
					 
					img(src="img/table.jpg", alt="")
					.smallest 1) Lorenzo-Zuñiga et al. World J Gastroenterol 2014
				.slide
					.row
						+e.col.col-md-7
							h4 Ось головной мозг-кишечник:
								br
								em Индекс Висцеральной Чувствительности (ИВЧ)
							ul
								li Значительное улучшение в&nbsp;ИВЧ по&nbsp;сравнению с&nbsp;плацебо на&nbsp;42й день	по&nbsp;сравнению с&nbsp;плацебо 
								li Только пробиотик достигает психобиотического эффекта в&nbsp;рандомизированном клиническом исследовании с&nbsp;валидированным опросником!
								li Это объясняет&nbsp;23% отклонений в&nbsp;улучшении качества жизни согласно опроснику (r = 0.69, p &lt; 0.001)
						.col
							img(src="img/graffic.jpg", alt="")
					.row
						+e.col.col-md-7
							.smallest 1) Lorenzo-Zuñiga et al. World J Gastroenterol 2014
						.col
							.smallest *Визуальная аналоговая шкала
				
				.slide
					.row
						+e.col.col-md-5
							ul
								li В&nbsp;группе Пробиолога СРК (3&nbsp;млрд.) наблюдалось статистически значимое улучшение качества жизни  на&nbsp;21й день терапии по&nbsp;сравнению  с&nbsp;плацебо 
								li Качество жизни пациентов, принимавших пробиотики,  улучшилось в&nbsp;2&nbsp;раза  по&nbsp;сравнению с&nbsp;плацебо
						.col
							img(src="img/graffic2.jpg", alt="")
					//- .row
					//- 	+e.col.col-md-7
					//- 		.smallest 1) Lorenzo-Zuñiga et al. World J Gastroenterol 2014
					//- 	.col
					//- 		.smallest *Визуальная аналоговая шкала 
				.slide
					.row.align-items-center
						+e.col.col-md-7
							img(src="img/last-graf.jpg", alt="")
							 
						.col
							h4 Пробиолог СРК содержит  оптимальную дозу  таргетных штаммов &mdash; 3&nbsp;млрд. бактерий
					.smallest Lorenzo-Zúñiga V et al . I.31, a new combination of probiotics, improves irritable bowel syndrome-related quality of life. World J Gastroenterol 2014 July 14; 20(26): 8709-8716

	// end s-result