mixin s-instruction()
	// start s-instruction
	+b.SECTION.s-instruction.section#s-instruction&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 s-instruction
				
			.row
	// end s-instruction