.s-research {

	.tabs2__content.active{
		display: flex;
		flex-direction: column;
		justify-content: center;
		// justify-content: space-around;
	}
	&__btn{
		@include rfs(39);
		@extend .btn;
		@extend .btn-block;
		font-weight: bold;
		padding: rem(4) rem(15) rem(1);
		margin-bottom: 1rem;
		@include media-breakpoint-down(sm) {
			display: inline-block;
			width: auto;
			margin-top: 0 !important;
			width: rem(120);
		}
	
		// font-size: rem(39);
	}
	.row{
		align-items: center;
	}
	.icon{
		@include rfs(218);
		color: $success;
	}
	&__icon-wrap{
		
		@include media-breakpoint-up(xxl) {
			width: rem(480);
			padding-right: rem(45);
			margin-right: rem(35);
		}
		@include media-breakpoint-up(sm) {
			padding-right: rem(25);
			margin-right: rem(25);
			&::before{
				content: '';
				@include a-cent(y);
				right: 0;
				width: 2px;
				height: rem(215);
				background-color: $success;
			}
		}
	}
	h3{
		@include rfs($h2-font-size);
		color: $danger2;
		letter-spacing: rem(0.5px);
		font-weight: bold;
	}
	h2{
		// @include rfs(38);

	}
	&__btn-wrap{
		@include media-breakpoint-down(sm) {

			padding-top: rem(20);
			text-align: center;
		}
	}
	h4{
		text-align: center;
		color: $success2; 
	}
		 
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {
		text-align: center;
		.tabs{
	
			.row{
				text-align: center;
			}
		
			}
	} 
	.section-block--tabs{
		padding-top: 0;
		position: relative;
		overflow: hidden;
	}
	.tabs{
	
		.row{
			align-items: flex-end;
		}
		&__caption{
			display: flex;
			margin-bottom: rem(15);
		}
		&__btn{
			@extend .btn;
			color: #101010;
			letter-spacing: 0.72px;
			text-align: center;
			display: inline-block; 
			border-radius:0 0 rem(25) rem(25) ; 
			font-weight: bold;
			@include media-breakpoint-up(sm) {

				padding: rem(2) rem(20);
				font-size: rem(18);
			}
			font-size: rem(14);
			padding: rem(2) rem(10);
			margin-right: rem(2); 
			color: #ffffff;
			background-color: #a0a0a0;
			margin-bottom: rem(10);
			&:hover,
			&.active{
				background-color: #f8c71e;
				color: $danger;
			}
		}
		h2{
			@include rfs(30);
			display: inline-block;
			color: #ffffff;
			border-radius: em(40px); 
			background-color: $success2;
			font-weight: bold;
			padding: em(5) em(20);
			
		}

		li{
			list-style-type: none;
			position: relative;
			font-weight: 600;
			padding-left: rem(20);
			line-height: 1.4;
			text-align: left;
			&::before{
				content: '';
				position: absolute;
				left: 0;
				top: rem(8);
				width: rem(12px);
				height: rem(12px);
				background-color: #f7c71d;
				border-radius: 50%;
			}
			&:first-child{
				&::before{
					top: em(44);
					
				}
			}
			strong{
				font-size: 2.5em;
				color: $success2;
			}
			span{
				color: $success2;
			}
			li{
				padding-left: $h3-font-size * 1.2;
				&::before{
					content: '';
					position: absolute;
					background-image: url(../img/le-before.png);
					width: $h3-font-size;
					height: $h3-font-size;
					top: rem(10) !important; 
					background-size: 100%;
				}
			}
		}
	}
}