mixin s-faq()
	// start s-faq
	+b.SECTION.s-faq.section#s-faq&attributes(attributes)
		.section-block 
			h4 Правда&nbsp;ли, что не&nbsp;все бактерии выживают в&nbsp;желудке?

			p Совершенно верно&nbsp;&mdash; выжить могут либо штаммы, обладающие кислотоустойчивыми свойствами (Пробиолог СРК), либо защищенные специальной кислотоустойчивой матрицей (Пробиолог и&nbsp;Пробиолог Форте)

			h4 Говорят, что достаточно пить кефир и&nbsp;микрофлора восстановится...

			p В&nbsp;кефире содержатся низкие дозы лактобактерий (без бифидо), которые не&nbsp;защищены от&nbsp;кислой среды желудка, следовательно, эффект от&nbsp;применения кефира будет минимальным

			h4 Правда&nbsp;ли, что пробиотики могут помочь при чувствительном кишечнике?

			p Только специально разработанные штаммы бактерий (в&nbsp;составе Пробиолога СРК) могут снижать кишечную проницаемость, повышенную чувствительность кишечника к&nbsp;пище/газам и&nbsp;уменьшать воспаление слизистой

	// end s-faq