mixin s-mechanism()
	// start s-mechanism
	+b.SECTION.s-mechanism.section#s-mechanism&attributes(attributes)
		.section-block
			.row.align-items-center
				.col-md-6
					+e.row.row.align-items-center
						.col-xl-auto.col-md
							img.res-i(src="img/s-mechanism-img-1.jpg", alt="")

						.col
							h6 Бифидобактерии защищают клетки кишечника от&nbsp;патогенных бактерий*
				.col  
					img.res-i(src="img/s-advantages-img-3.jpg", alt="")  
			.row.align-items-center
				.col-md-5
					img.res-i(src="img/s-mechanism-img-2.jpg", alt="")
				.col  
					h4 Бифидобактерии стимулируют иммунный ответ организма  через синтез иммуноглобулина&nbsp;А (повышается сопротивляемость организма вирусным инфекциям)
			.smallest * Е.А. Корниенко &laquo;Современные принципы выбора пробиотиков&raquo;, &laquo;ДЕТСКИЕ ИНФЕКЦИИ&raquo; 2007б &#8470;&nbsp;3б&nbsp;с. 64-69
	// end s-mechanism


mixin s-mechanism-orange()
	// start s-mechanism
	+b.SECTION.s-mechanism.section#s-mechanism&attributes(attributes)
		.section-block.text-center
			.slider.slider--js
				+e.slide
					.section-title
						h2 Механизм действия

					img.res-i(src="img/s-advantages-img-orange-3.jpg", alt="") 
				
				+e.slide
					.section-title
						h2 Штаммы в&nbsp;составе Пробиолога СРК действуют прицельно на&nbsp;слизистую кишечника, препятствуя развитию симптомов СРК

					img.res-i(src="img/echanizm-orange-01.jpg", alt="") 
				
				+e.slide
					.section-title
						h2 Синтез КЦЖК*&nbsp;&mdash; важное условие для нормального функционирования слизистой кишечника

					img.res-i(src="img/echanizm-orange-02.jpg", alt="") 
					.smallest.text-left *КЦЖК – короткоцепочечные жирные кислоты (уксусная, пропионовая и масляная)



				+e.slide
					//- .bgs(style="	background-image: url(img/mechanizm-orange-bg.jpg);") 
					.section-title
						h2 Воздействие на 3 этапа патогенеза
					.row
						.col-lg-6
							img.res-i(src="img/mechanizm-orange-1.png", alt="") 
						
						.col-lg-6
							img.res-i(src="img/mechanizm-orange-2.png", alt="") 
					.smallest.text-left *КЦЖК – короткоцепочечные жирные кислоты. 
						br
						| 1. Данные механизма действия предоставлены компанией-производителем ABbiotics



	// end s-mechanism