mixin s-types()
	// start s-types
	+b.SECTION.s-types.section#s-types&attributes(attributes)
		.section-block
			h2 Определение  синдрома раздраженного кишечника согласно Римским критериям&nbsp;IV
			p Рецидивирующая абдоминальная боль в&nbsp;среднем, как минимум,  1&nbsp;раз в&nbsp;неделю за&nbsp;последние 3&nbsp;месяца, ассоциированная  с&nbsp;2&nbsp;и&nbsp;более следующими симптомами:

			ul 
				li Дефекацией
				li Изменением частоты стула
				li Изменением формы стула

			p Критерии валидны при условии их&nbsp;наличия в&nbsp;течение последних 3&nbsp;месяцев с&nbsp;началом симптомов не&nbsp;менее 6&nbsp;месяцев назад
			.smallest Lacy BE et al. Bowel disorders. Gastroenterology 2016;150:1393-1407.
				br
				| Rome IV FH June 2016

	// end s-types