mixin s-requirements()
	// start s-requirements
	+b.SECTION.s-requirements.section#s-requirements&attributes(attributes)
		.section-block
			
			ul
				li
					img(src="img/requirements-img.jpg", alt="")
				li
					ul
						li Оболочка пробиотика  должна обеспечивать  доставку бактериальных  клеток в&nbsp;кишечник
						li Идеальный пробиотик должен  содержать не&nbsp;менее  1&nbsp;млрд. бактерий
			.smallest * Клинические рекомендации по СРК РГА 2016



	// end s-requirements