mixin s-specialist()
	// start s-specialist
	+b.SECTION.s-specialist.section#s-specialist&attributes(attributes)
		.section-block.text-center
			h2 Специалист ставит диагноз СРК  путем исключения всех возможных органических заболеваний 
			img(src="img/s-specialist.jpg", alt="")

	// end s-specialist